<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=form, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contáctate con nosotros :</h1>
    <form action="/contacto/" method="post">{% csrf_token %}
        <p>Asunto: <input type="text" name="asunto" id=""></p>
        <p>Email: <input type="text" name="email" id=""></p>
        <p>Mesaje: <textarea name="mensaje" id="" rows="15" cols="40"></textarea></p>
    </form>
    <input type="submit" value="Enviar">
</body>
</html>